<!-- //bootstrap working-->
<% for(i=0;i<data.data.length;i++){ %>-->
<%= data.data[i]['书名'] %>
<% } %>

	$(document).ready(function(){
		//Swiper
		$('.one-img').css("background","url('<%=swiper[0].imgurl %>') no-repeat center");
		$('.two-img').css("background","url('<%=swiper[1].imgurl %>') no-repeat center");
		$('.three-img').css("background","url('<%=swiper[2].imgurl %>') no-repeat center");
		
		//main-row img
		$('#mainRow1').attr("src","<%=mainRow[0].imgurl%>");
		$('#mainRow2').attr("src","<%=mainRow[1].imgurl%>");
		$('#mainRow3').attr("src","<%=mainRow[2].imgurl%>");
		
		//tab img
		$('#tabrow1').attr("src","<%=tabrow[0].imgurl%>");
		$('#tabrow2').attr("src","<%=tabrow[1].imgurl%>");
		$('#tabrow3').attr("src","<%=tabrow[2].imgurl%>");
		$('#tabrow4').attr("src","<%=tabrow[3].imgurl%>");

	})